.mainCanvas {
    background-color: white;
    border: 0.5em solid #898989;
    border-radius: 10px 0 0 10px;
}
.canvas_Container {
    flex-grow: 8;
}
.gameContainer{
}

.fontStyle {
    font-size: 24px;
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    margin: 0 10px;

}

tr {
    width: 40%;
}

.startGame {
    /*width: 100px;*/
    /*height: 40px;*/
}

.chat_Container {
    flex-grow: 2;
    background-color: white;
    width: 100%;
    height: 80%;
    overflow: auto;
    max-height: 600px;
}

.right-panel{
    background: linear-gradient(#2ab07b 0%, #ace0c2 20%, #ace0c2 80%, #2ab07b 100%);
    border-radius: 0 10px 10px 0;
    color: #000844;
}

.gameWords {
    position: absolute;
    font-size: 8px;
    width: 50em;
    background: linear-gradient(#2ab07b 0%, #ace0c2 20%, #ace0c2 80%, #2ab07b 100%);
    border-style: solid;
    border-color: rgba(14, 11, 35, 0.17);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.gameWords * {
    margin: 10px;
    font-size: 24px;
}

.playerContainer {
    position: absolute;
    right: 3em;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.MessageContainer {
    display: flex;
    flex-direction: column;
    margin: 0 5px 0 15px;
    width: 100%;
    position: relative;
    border-radius: 3px;
}

.MessageContainer h3 {
    text-align: right;
    margin-right: 5px;
    user-select: none;
}

.MessageContainer h2 {
    margin: 4px 0 0 5px;
    text-align: left;
}

.Message {
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    margin: 5px 0;
}

.MessageContainer:after {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.iconContainer {
    position: absolute;
    z-index: 10;
    bottom: 3px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 10px;
}

.iconContainer img {
    margin: 2px 5px;
    width: 20px;
    height: 20px;
}

.iconContainer img:hover {
    opacity: 1 !important;
}

.MessageContainer:after {
    border-color: rgba(136, 183, 213, 0);
    border-right-color: #88b7d5;
    border-width: 10px;
    margin-top: 10px;
}

.Input_Container {
    margin: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.sendButton {
    background-color: #599bb3;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial, serif;
    font-size: 20px;
    text-decoration: none;
    position: absolute;
    padding: 5px 15px;
    left: calc(100% - 60px);
}

.sendButton:hover {
    background-color: #408c99;
}

.Input {
    width: 100%;
    font-size: 18px;
    padding-right: 20%;

}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #000844;
    outline: none;
    color: #000844;
    cursor: default;
    padding: initial;
    border: initial;
    -webkit-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.bm-burger-button {
    position: absolute;
    top: 3%;
    left: 3%;
    width: 50px;
    height: 50px;
    opacity: 1;
    box-shadow: 0 0 0 0;
    transition: .5s;
}

.bm-burger-button:hover {
    opacity: 30%;
    box-shadow: 0 0 0 0;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #ff583e;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #3cab87;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;

    box-shadow: 0 0 0 0 #000000;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

.bm-menu-wrap {
    position: absolute !important;
    height: 95% !important;
    right: auto !important;
    left: -20px !important;
    top: 30px;
}

.bm-menu {
    background: #6bc89e;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    overflow: hidden !important;
}

.bm-morph-shape {
    fill: #373a47;
}

.bm-item-list {
    color: #000844;
    padding: 0.8em;
}

.bm-item {
    display: inline-block;
}

.bm-overlay {
    opacity: 0 !important;
}

.sizeSelector {
    margin: 40px 0 0 0;
}



