
.myButtonUp:active {
    top: 17.05em;
}

.modal {
    font-size: 10px;
}

.modal > .close {
    z-index: 2;
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 3px 5px;
    line-height: 20px;
    right: 5px;
    top: 5px;
    font-size: 32px;
    border-radius: 18px;
    border: none;
}


.button {
    font-size: 24px;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, #37b202 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 60%, #37b202 100%);
    border-radius: 1em;
    box-shadow: 0 10px 10px #000000;
    border-bottom: #4A7F7C;
    transition: .5s;
    position: relative;
    background-color: #3d94f6;
    cursor: pointer;
    color: #000844;
    font-weight: bold;
    padding: 1em 2em;
    height: 1em;
    text-decoration: none;
    display: flex;
}

.button::selection {
    background: transparent;
}

.myButtonUp {
    top: 17em;
    left: 4.5em;
}

.myButtonIn {
    top: 21em;
    left: 2em;
}

.button:hover {
    background-color: #1e62d0;
}

.myButtonIn:active {
    top: 21.05em;
}

#formIn, #formUp {
    position: relative;
    font-size: 8px;
    width: 60em;
    height: 75em;
    background: linear-gradient(#2ab07b 0%, #ace0c2 20%, #ace0c2 80%, #2ab07b 100%);
    border-style: solid;
    border-color: rgba(14, 11, 35, 0.17);
    border-radius: 1em;
    left: calc(50% - 30em);
    display: flex;
}

#formUp {
    height: 65em;
}

.input {
    position: absolute;
    padding-left: .5em;
    padding-right: .5em;
    border: none;
    margin: 0;
    font-size: 3em;
    font-weight: 700;
    font-style: normal;
    outline: none;
    width: 13em;
    height: 2em;
    display: flex;
}

.input:focus {
    transition: 0.2s;
    border-bottom: solid dodgerblue .1em;
}

.input:focus::placeholder {
    visibility: hidden;
}

.input:not(focus)::placeholder {
    visibility: visible;
}

.input:not(focus) {
    transition: 0.2s;
    border-bottom: solid black .1em;
}

.icon {
    height: 13em;
    width: 13em;
    margin: 0 1em;
}