.OpenGamesContainer {
    margin: 0 auto 40px;
    text-align: center;
}

.OpenGamesContainer h1 {
    font-size: 24px;
    background: #37b202;
    border-radius: 10px;
    border: 2px solid #008300;
    color: #FFFFFF;
}
.OpenGamesContainer .lobbyList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.lobby {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5em 1em;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, #37b202 0%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 60%, #37b202 100%);
    padding: 2em 4em;
    border-radius: 1em;
    box-shadow: 0 10px 10px #000000;
    border-bottom: #4A7F7C;
    transition: .5s;
}
.lobby:hover {
    background: linear-gradient(180deg, #37b202 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 1) 50%, #37b202 100%);
    box-shadow: 0 2px 2px #000000;    
}
.lobby a{
    text-decoration: none;
    color: #008300;
}

.rowContainer {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.rowContainer h1{
    margin: 0;
    padding: 0 5px;
}

.arrowImg {
    height: 40px;
    width: 40px;
}

.lobby * {
    margin: 0 50px;
}

/*.lobby button {*/
/*    box-shadow: inset 0 -1px 5px 0 #97c4fe;*/
/*    background: #3d94f6 linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);*/
/*    border-radius: 20px;*/
/*    border: 1px solid #337fed;*/
/*    display: inline-block;*/
/*    cursor: pointer;*/
/*    color: #ffffff;*/
/*    font-family: Arial, serif;*/
/*    font-size: 15px;*/
/*    font-weight: bold;*/
/*    padding: 10px 44px;*/
/*}*/

button, button:active, button:focus {
    outline: none;
}
.middleContainer{
    margin: auto;
}

.lobbyItem h2 {
    font-size: 24px;
}

.lobbyItem h3 {
    font-size: 14px;
}

.sidebarContainer {
    display: flex;
    flex-direction: column;
    background: #b4bcbd;
    height: 20em;
    margin: 10em auto 0;
}

.serverInfo {
    margin: 50px auto;
    top: 100px;
    background: #b4bcbd;
    border-radius: 10px;
    padding: 10px;
}

.sidebarContainer button {
    font-size: 24px;
    margin: 1em;
}